problem-1

In [2]:
#the variable containing various types of datatypes can also be a list

In [4]:
l=[23,34.5,"data",(1,3,6),[12,45,67]]
for index,items in enumerate(l):
    print(index,items)
#cross verified also

0 23
1 34.5
2 data
3 (1, 3, 6)
4 [12, 45, 67]

problem-2

In [6]:
'''(i) var1 = ‘ ‘                                 -------------> string
(ii) var2 = ‘[ DS , ML , Python]’                 ------------->string
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]           -------------->list
(iv) var4 = 1                                --------------->int'''
##actually the string character should be written like this  "data" or 'data' this sign is giving invalid character

SyntaxError: invalid character '‘' (U+2018) (943552136.py, line 7)

problem-3

In [2]:
'''Q3. Explain the use of the following operators using an example:
(i) /           ------------->>division operator
(ii) %          ------------->modulo operator(gives remainder)
(iii) //        -------------->floor division
(iv) **           -------------->exponent operator'''

a=12
b=2
print(a/b)
print(a%b)
print(a//b)
print(a**b)

6.0
0
6
144

problem-4

In [10]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

l=[23,34,34.5,78,97,"data",(1,2,3,4),True,False,'interest']
print(len(l))
for i in l:
    print(i,type(i))

10
23 <class 'int'>
34 <class 'int'>
34.5 <class 'float'>
78 <class 'int'>
97 <class 'int'>
data <class 'str'>
(1, 2, 3, 4) <class 'tuple'>
True <class 'bool'>
False <class 'bool'>
interest <class 'str'>

problem-5

In [7]:
while(True):
    a=input("enter any number to continue and press 'q' to quit-")
    if(a=="q"):
        print("you have quit the game")
        break
    else:
        num1=int(input("Enter the value of A:"))
        num2=int(input("Enter the value of B:"))
        if(num1%num2==0):
            print("A is purely divisible by B")
            print("the no of times it is divisible is:",num1//num2)

enter any number to continue and press 'q' to quit- 12
Enter the value of A: 24
Enter the value of B: 3

A is purely divisible by B
the no of times it is divisible is: 8

enter any number to continue and press 'q' to quit- q

you have quit the game

problem-6

In [4]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

l=[23,45,56,78,33,45,98,17,21,2,41,40,12,55,51,13,19,87,89,8,43,27,30,66,77]
print(len(l))
for i in l:
    if(i%3==0):
        print(f"the no {i} is divisible by 3")
    else:
        print(f"the no {i} is not divisible by 3")

25
the no 23 is not divisible by 3
the no 45 is divisible by 3
the no 56 is not divisible by 3
the no 78 is divisible by 3
the no 33 is divisible by 3
the no 45 is divisible by 3
the no 98 is not divisible by 3
the no 17 is not divisible by 3
the no 21 is divisible by 3
the no 2 is not divisible by 3
the no 41 is not divisible by 3
the no 40 is not divisible by 3
the no 12 is divisible by 3
the no 55 is not divisible by 3
the no 51 is divisible by 3
the no 13 is not divisible by 3
the no 19 is not divisible by 3
the no 87 is divisible by 3
the no 89 is not divisible by 3
the no 8 is not divisible by 3
the no 43 is not divisible by 3
the no 27 is divisible by 3
the no 30 is divisible by 3
the no 66 is divisible by 3
the no 77 is not divisible by 3

problem-7

In [5]:
'''What do you understand about mutable and immutable data types? Give examples for both showing
this property.
ANS-basically mutable means objects whose characters  can be accessed and can be changed also and immutable means 
the objects whose characters can be accessed but we can't change them

examples of mutable objects-dictionary,list
examples of immutable objects-set,tuple

example with code is shown below'''

a=[1,2,4,5]
print(a[0])
a[0]=23
print(a[0])
a=(1,2,4,5)
print(a[0])
a[0]=23
print(a[0])#--->it will throws an error that 'tuple' object does not support item assignment

1
23
1

TypeError: 'tuple' object does not support item assignment